.TodoList {
  width: 600px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid teal;
}
.TodoList__text {
  margin-right: 10px;
}
